"""
AMER
aasaidamer@gmail.com
"""
from operator import itemgetter
import os

FilesList = []
FilesNames = ''
directory = "C:/Users/AHMED/Downloads/Test B/Test B/testcase2/"

for root, dirs, files in os.walk(directory):            # need to read all the files in the directory.
    for filename in files:                              # nested for loop
        path = os.path.join(root, filename)
        with open(path, "r") as inputFile:
            content = inputFile.read()
            Fcontent = int(content[:len(content) - 1])
            Fnames = os.path.splitext(filename)[0]
            FilesList.append([Fnames, Fcontent])         # I've made a list to assign the content to the filename

FilesListSorted = sorted(FilesList, key=itemgetter(1))   # sorting the list

for i in range(len(FilesListSorted)):                    # a for loop for creating the word from file name
    FilesNames += FilesListSorted[i][0]

print(FilesNames)
